:root {
    --red: #C53C15;
    --apricot: #CA9789;
    --lightapricot: #EACCB8;
    --beige: #F1E8E3;
}

body {
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

h1 {
    color: var(--beige);
    font-size: 10rem;
    opacity: 50%;
}

h2, h3, h5 {
    color: var(--red);
    margin-bottom: 1rem;
}

.intro-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box p {
    color: var(--apricot)
}

.btn-red {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red);
    padding: 0.5rem 1.2rem;
    font-size: small;
}

.btn-red:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-red:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn:focus{
    box-shadow: none;
}

.arrow-icon {
    color: var(--red);
    font-size: 1.5rem;
}

.arrow-icon:hover {
    color: var(--red);
}

.arrow-icon:focus {
    color: var(--red);
}

.fa-bars {
    color: #fff;
    font-size: 1.5rem;
}

.fa-bars:hover {
    color: var(--beige);
}

.fa-bars:focus {
    color: var(--beige);
}

.bg-red {
    background-color: var(--red);
}

.bg-apricot {
    background-color: var(--apricot);
}

.bg-lightapricot {
    background-color: var(--lightapricot);
}

.bg-beige {
    background-color: var(--beige);
}

.navbar{
    width: 100%;
}

.navbar-brand {
    color: var(--beige);
}

.navbar-brand:hover {
    color: var(--beige);
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    color: var(--beige);
}

.navbar-nav {
    order: 3;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-items: flex-start;
    z-index: 1000;
}

.image img {
    width: 100%;
}

.footer a, p {
    color: var(--lightapricot)
}

.hide {
    display: none;
}

@media (min-width:768px) {
    .menu-btn {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        order: 0;
        width: fit-content;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-link {
        margin-left: 1.5rem;
    }

    .navbar {
        flex-direction: row;
    }

    .intro-text{
        left: 60%;
    }
}