:root {
    --red: #C53C15;
    --apricot: #CA9789;
    --lightapricot: #EACCB8;
    --beige: #F1E8E3;
}

body {
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

h1{

}

h4{

}

h2, h3, h5 {
    color: var(--red);
}

.btn-red {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red);
}

.btn-red:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-red:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fas {
    color: var(--red);
}

.fas:hover {
    color: var(--red);
}
.fas:focus {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

.bg-apricot {
    background-color: var(--apricot);
}

.bg-lightapricot {
    background-color: var(--lightapricot);
}

.bg-beige {
    background-color: var(--beige);
}

.navbar-brand{
    color: var(--beige);
}
.navbar-brand:hover{
    color: var(--beige);
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    color: var(--beige);
}

.text-box p {
    color: var(--apricot)
}

.image img {
    width: 100%;
}

.footer a, p {
    color: var(--lightapricot)
}